<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<%- include partials/_header.ejs %>

  <% for(var url in urls) { %>
    <li><%= url %> --> <a href="<%= urls[url]%>"><%= urls[url] %></a></li>
    <form method="POST" action="/urls/<%= url %>/delete">
      <input type="submit" name="delete" value="Delete">
    </form>
  <% } %>

</body>
</html>