<%- include partials/_header.ejs %>

  <tr>
    <td colspan="100%">
      <b>Manage Link: <a href="/u/<%= shortURL %>">/u/<%= shortURL %></a></b>
    </td>
  </tr>
  <tr>
    <td>
    <% if (user === owner) { %>
      <form method="POST" action="/urls/<%= shortURL %>">
        <label for="editLongURL">URL:</label>
        <input type="text" name="editLongURL" value="<%= longURL %>" size="30">
        <input type="hidden" name="shortURL" value="<%= shortURL %>">
        <input type="submit" name="update" value="Update">
      </form>
    </td>
    <td width="40">
      <form method="POST" action="/urls/<%= shortURL %>/delete">
        <input type="submit" name="delete" value="Delete">
      </form>
      <% } else { %>
      You do not have access to edit this link.  Please <a href="/login">login</a>.
      <% } %>
    </td>
  </tr>

<%- include partials/_footer.ejs %>