<%- include partials/_header %>

<% if (user) { %>
  <tr>
    <td colspan="100%">
      <b>Your Links</b>
    </td>
  </tr>

  <% var links = 0;

  for (var entry in urls) {

    if (urls[entry].user_id === user.id) {
      links++ %>
      <tr>
        <td width="30">
          <a href="/u/<%= entry %>" target="_new">/u/<%= entry %></a>
        </td>
        <td>
          <a href="<%= urls[entry].url %>" target="_new"><%= urls[entry].url %></a>
        </td>
        <td width="25">
          <a href="/urls/<%= entry %>">Edit</a>
        </td>
        <td width="40">
          <form method="POST" action="/urls/<%= entry %>/delete"><input type="submit" class="deletebutton" name="delete" value="Delete"></form>
        </td>
      </tr>
    <% }

   }

  if (!links) { %>
    <tr>
      <td>
        You do not currently have any links.
      </td>
    </tr>
  <% }

  } %>

<%- include partials/_footer %>